{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="../static/content/table.css">

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<p>Simple operation for policeman's.</p>

{%- for message in get_flashed_messages() %}
    {{ message }}
{%- endfor %}

<h3>
    <a href="{{ url_for('add_police') }}">
        Add Policeman
    </a>
    <a href="{{ url_for('patrol') }}">
        Patrol
    </a>
</h3>

<table>
    <tbody>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Police Station</th>
            <th>Police Car Number</th>
            <th>Operation</th>
        </tr>
        {% for i in Police_Member %}
        <tr>
            <td>{{ i.ranga.tytul }}</td>
            <td>{{ i.imie }}</td>
            <td>{{ i.nazwisko }}</td>
            <td>{{ i.komisariat.nazwa }}</td>
            <td>{{ i.radiowoz.numer }}</td>
            <td>
                <form method="POST" action="./delete_police" style="display: inline">
                    <input type="hidden" value="{{ i.id_policja }}" name="id_policja">
                    <input type="submit" value="Delete">
                </form>
                <form action="{{ url_for('modify_police') }}" method="POST" style="display: inline">
                    <input type="hidden" value="{{ i.id_policja }}" name="id_policja">
                    <input type="submit" value="Update">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
